body {
	margin-top: 32px !important;
}

textarea {
	resize: vertical;
	font-family: sans-serif;
	font-size: 14px;
}

button[type=submit] {
	padding: .5ch 1ch;
}

.mailing-sidebar input[type=text],
.mailing-sidebar textarea,
.mailing-main input[type=text],
.mailing-main textarea {
	width: 100%;
}

.mailing-sidebar input[name=title],
.mailing-main input[name=title] {
	font-size: 1.5em;
}

.mailing-sidebar textarea,
.mailing-main textarea {
	min-height: 4em;
}

.mailing-sidebar textarea[name=data] {
	min-height: 16em;
}

.mailing-main textarea[name=data] {
	min-height: 32em;
}

.mailing-edit-nav {
	list-style: none;
	margin: 0;
	padding: 0 .5em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #eee;
	height: 32px;
	box-shadow: 0 0 20px #333;
	z-index: 100;
}

.mailing-edit-nav li {
	display: inline;
	line-height: 32px;
}

.mailing-edit-nav li > * {
	display: inline-block;
	padding: 0 .5em;
	color: #333;
}

.mailing-edit-nav li a:hover {
	background: #ccc;
}

.mailing-edit-nav > ul {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding: 32px 0 0 0;
}

.mailing-edit-nav > li:hover + ul,
.mailing-edit-nav > ul:hover {
	display: block;
}

.mailing-edit-nav > ul li a {
	display: block;
	background: #eee;
}

.ui-dialog {
	border: none;
	border-radius: 0;
	box-shadow: 0 0 60px #333;
}

.ui-dialog .ui-widget-header {
	border-radius: 0;
	border: 0;
	background: transparent; 
}

.ui-dialog-content label,
.ui-dialog-content input {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 4px;
}

.ui-dialog-content .timestamp {
	margin-left: 0.5em;
	font-size: 0.8em;
}

.message-unreadable a {
	cursor: not-allowed;
}

#notification-area {
	background-color: yellow;
	padding: 0 1em;
}

.mailing-editable {
	position: relative;
}

.mailing-editable:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	display: block;
	margin: -1px -10px;
	padding: 1px 10px;
	z-index: 10;
}

.mailing-sidebar .mailing-editable:hover {
	background: #c8102e;
}

.mailing-main .mailing-editable:hover {
	background: #fff;
}

.mailing-editable form {
	margin: 10px 0;
}

.mailing-editable .controls {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
	z-index: 1;
}

.mailing-editable:hover .controls {
	display: block;
}

td.controls {
	text-align: center;
	padding: 1rem 0;
}

.button {
	background: #fff;
	border: 1px solid #36749d;
	color: #36749d;
	display: inline-block;	
	font-family: sans-serif;
	font-size: 13px;
	line-height: 16px;
	margin-left: 5px;
	padding: .5ch 1ch;
	text-decoration: none;
	vertical-align: middle;
	cursor: default;
}

.button:hover {
	background: #36749d;
	color: #fff;
}

.button:focus {
	outline: 1px dotted black;
	outline-offset: -5px;
}

.button::-moz-focus-inner  {
	border: 0;
}

.mailing-sidebar .button {
	background: #c8102e;
	border-color: #fff;
	color: #fff !important;
}

.mailing-sidebar .button:hover {
	background: #fff;
	border-color: #fff;
	color: #c8102e !important;
}

.empty-section h3 {
	color: inherit !important;
	margin-bottom: 0;
	opacity: .5;
}

.empty-section p {
	font-size: 80%;
	margin-top: 0;
	opacity: .5;
}
