<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title><?= $this->render_title() ?></title>
		<style>
			@media (max-width: 700px) {
				#readable-notice, #page, #main-cell {
					width: auto !important;
				}

				#readable-notice td {
					display: block;
					text-align: center !important;
				}
			}

			@media (max-width: 500px) {
				#page, #sidebar-cell, #main-cell {
					display: block;
					width: auto !important;
				}
			}

			@media (max-width: 400px) {
				#readable-notice {
					text-align: center;
				}

				#readable-notice td {
					display: inline;
				}
			}
			
			img { max-width: 100%; }

			#sidebar-cell a {
				color:#FFFFFF;
			}

			#main-cell h2, #main-cell h3, #main-cell h4 {
				color: #C60C30;
			}
		</style>
	</head>
	<body style="margin:0; padding:0; font: 13px/16px sans-serif;" data-date="<?=$this->submission_date->format('Y-m-d')?>" data-filename="<?=isset($this->filename) ? htmlspecialchars($this->filename, ENT_QUOTES) : ''?>">
		<!-- container -->
		<table style="border-collapse:collapse; height:100% !important; margin:0; padding:0; width:100% !important;" width="100%">
			<tr>
				<td bgcolor="#3B3B3B">
					<!-- table with sidebar and main section -->
					<center>
						<br>
						<table id="readable-notice" width="700" cellspacing="0" cellpadding="0">
							<tr>
								<td align="left" style="color: #CCCCCC; font-size: 11px">This is the newsletter that is sent weekly to all of our members.</td>
								<td align="right" style="color: #CCCCCC; font-size: 11px">Is the newsletter unreadable? <a href="<?=$this->render_permalink()?>" style="color:white;text-decoration:underline">Read the newsletter in your web browser</a>.</td>
							</tr>
						</table>
						<br>
						<table id="page" style="border-collapse:collapse;" width="700" cellspacing="0" cellpadding="20">
							<tr>
								<!-- Sidebar -->
								<td bgcolor="#C8102E" width="200" valign="top" id="sidebar-cell" class="mailing-sidebar">
									<table style="border-collapse:collapse; color:white" cellspacing="0" cellpadding="0" class="sidebar">
										<!-- logo -->
										<tr>
											<td height="60"><a href="<?=link_site()?>"><img style="border:0; height:auto; line-height:100%; outline:none; text-decoration:none;" alt="Cover logo" width="180" height="60" class="logo" src="https://sd.svcover.nl/Logos/Cover/white/cover_logo_white_small.png"></a></td>
										</tr>

										<?php foreach ($this->sidebar as $section): ?>
										<tr>
											<td id="<?=$section->id()?>" class="mailing-editable">
												<?= $this->style_links($section->render($env)) ?>
											</td>
										</tr>
										<?php endforeach ?>

									</table>
								</td>

								<!-- Main -->
								<td bgcolor="#FFFFFF" valign="top" id="main-cell" class="mailing-main">
									<table style="border-collapse:collapse;" cellspacing="0" cellpadding="0">
										<!-- Titel -->
										<tr>
											<td height="60"><h1>Newsletter</h1></td>
										</tr>

										<?php foreach ($this->main as $section): ?>
										<tr>
											<td id="<?=$section->id()?>" class="mailing-editable">
												<?= $this->style_headers($section->render($env)) ?>
											</td>
										</tr>
										<?php endforeach ?>

										<tr>
											<td height="40" style="border-top: 1px solid #ccc;">
												<center>
													<p><small style="font-size: 9px">To cancel your registration to this mailing list <a href="[UNSUBSCRIBE_URL]">click here to unsubscribe</a>.</small></p>
												</center>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

						<br>

					</center>
				</td>
			</tr>
		</table>
	</body>
</html>
